@font-face {
    font-family: 'MyFont';
    src: url('./lobster-v28-latin-regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

body {
    background: url('./background.jpg');
    background-size: cover;
    color: black;
    font-family: 'MyFont';
    font-size: 22px;
}

h1 {
    font-size: 60px;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 50px;
    margin: 0;
}

h3 {
    font-size: 40px;
    margin: 0;
}

h4 {
    font-size: 28px;
    margin: 15px 0;
}

#content {
    background-color: rgba(245, 245, 245, 0.5);
    width: 860px;
    height: 862px;
    overflow-y: auto;
    border-radius: 30px;
    border: rgb(38, 42, 42) 2px solid;
    padding: 15px 50px;
    text-align: center;
    margin-left: 50px;
    min-height: 610px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.377);
}

#image-div {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    gap:10px
}

#image-div img {
    width: 240px;
}

nav {
    display: flex;
    gap: 15px;
    margin-left: 100px;
    margin-top: 50px;
}   

nav > button {
    width: 120px;
    background-color: lightgrey;
    text-align: center;
    font-size: 24px;
    padding: 8px 15px;
    border: rgb(38, 42, 42) 2px solid;
    border-radius: 15px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    font-family: 'MyFont';
}

nav > button:hover, #form input[type="submit"]:hover{
    color: lightskyblue;
    background-color: gray;
}

.selected {
    background-color: lightskyblue;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    text-align: left;
}

.home-info, .menu {
    text-align: left;
    width: 360px;
    margin: 40px auto;
}

.home-info > span {
    margin-left: 40px;
}

#form {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 auto 0 auto;
    gap:25px;
}

#form input{
    padding: 15px;
}

#form input[type="submit"] {
    font-size: 28px;
    border: 1px black solid;
    border-radius: 15px;
}

#form textarea {
    height: 80px;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 40px;
}

::-webkit-scrollbar-thumb {
    background: darkgray; ; 
    border: 10px solid transparent;
    border-radius: 32px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: skyblue; 
    border: 10px solid transparent;
    border-radius: 32px;
    background-clip: padding-box;
  }

  